#define IDR_MENU 103
#define IDM_FILE_OPEN 100
#define IDM_NET_SITE 103
IDR_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open",IDM_FILE_OPEN
  END
  POPUP "&Net"
  BEGIN
    MENUITEM "&Site",IDM_NET_SITE
  END
END
